html body {
  font-family: 'Ek Mukta', sans-serif;
}
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-family: 'Titillium Web', sans-serif;
}
html input,
html button,
html select,
html textarea {
  font-family: 'Ek Mukta', sans-serif;
}
html .btn-primary {
  background-color: #ff8200;
  background-image: -moz-linear-gradient(top, #ffb466, #ff8200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb466), to(#ff8200));
  background-image: -webkit-linear-gradient(top, #ffb466, #ff8200);
  background-image: -o-linear-gradient(top, #ffb466, #ff8200);
  background-image: linear-gradient(to bottom, #ffb466, #ff8200);
  border-color: #ff8200 #ff8200 #03202a;
  *background-color: #ff8200;
}
html .btn-primary:hover,
html .btn-primary:focus,
html .btn-primary:active,
html .btn-primary.active,
html .btn-primary.disabled,
html .btn-primary[disabled] {
  background-color: #ff8200;
}
html .btn-group.open .btn-primary.dropdown-toggle {
  background-color: #ff8200;
}
html .navbar-search .search-query {
  font-family: 'Ek Mukta', sans-serif;
}
html a.tag:hover {
  background-color: #ffb466;
}
html .banner {
  background-color: #00b5e2;
}
html .media-view:hover,
html .media-view.hovered {
  border-color: #00b5e2;
}
html .media-view:hover .banner,
html .media-view.hovered .banner {
  background-color: #00b5e2;
}
html .control-custom.disabled .checkbox.btn {
  background-color: #ff8200;
  background-image: -moz-linear-gradient(top, #ffb466, #ff8200);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffb466), to(#ff8200));
  background-image: -webkit-linear-gradient(top, #ffb466, #ff8200);
  background-image: -o-linear-gradient(top, #ffb466, #ff8200);
  background-image: linear-gradient(to bottom, #ffb466, #ff8200);
  border-color: #ff8200 #ff8200 #03202a;
  *background-color: #ff8200;
}
html .control-custom.disabled .checkbox.btn:hover,
html .control-custom.disabled .checkbox.btn:focus,
html .control-custom.disabled .checkbox.btn:active,
html .control-custom.disabled .checkbox.btn.active,
html .control-custom.disabled .checkbox.btn.disabled,
html .control-custom.disabled .checkbox.btn[disabled] {
  background-color: #ff8200;
}
html .homepage .module-search .search-giant input {
  border-color: #33c3e7;
}
html .homepage .module-search .module-content {
  background-color: #00b5e2;
}
html .homepage .module-search .tags {
  background-color: #ff8200;
}
html .account-masthead {
  background: #222222 url("../../../base/images/bg.png");
}
html .masthead {
  background: #00b5e2 url("../../../base/images/bg.png");
}
html .masthead input[type="text"] {
  border-color: #33c3e7;
}
html .masthead .navigation .nav-pills li a:hover,
html .masthead .navigation .nav-pills li.active a {
  background-color: #33c3e7;
}
html .masthead .btn-navbar,
html .masthead .btn-navbar:hover,
html .masthead .btn-navbar:focus,
html .masthead .btn-navbar:active,
html .masthead .btn-navbar.active,
html .masthead .btn-navbar.disabled,
html .masthead .btn-navbar[disabled] {
  background-color: #33c3e7;
}
html .site-footer {
  background: #00b5e2 url("../../../base/images/bg.png");
}
html .site-footer input[type="text"] {
  border-color: #33c3e7;
}
html .site-footer .navigation .nav-pills li a:hover,
html .site-footer .navigation .nav-pills li.active a {
  background-color: #33c3e7;
}
html .site-footer .btn-navbar,
html .site-footer .btn-navbar:hover,
html .site-footer .btn-navbar:focus,
html .site-footer .btn-navbar:active,
html .site-footer .btn-navbar.active,
html .site-footer .btn-navbar.disabled,
html .site-footer .btn-navbar[disabled] {
  background-color: #33c3e7;
}
html body {
  background: #00b5e2 url("../../../base/images/bg.png");
}

html .hero {
  background: #eeeeee url("../../../base/images/bg.png");
}

